---
import Main from "../layouts/main.astro";
---

<Main>
  <div class="flex gap-4 justify-center flex-wrap">
    <div class="h-96 aspect-square modern-gradient rounded-full"></div>
    <div class="h-96 aspect-square modern-gradient2 rounded-full"></div>
    <div class="h-96 aspect-square classic-gradient rounded-full"></div>
    <!-- <div class="h-96 aspect-square psychadelic rounded-full"></div> -->
  </div>
  <div class="flex gap-4 justify-center flex-wrap">
    <div class="h-96 aspect-square pinky"></div>
    <div class="h-96 aspect-square less-pinky"></div>
    <div class="h-96 aspect-square pink-lab"></div>
  </div>
  <div>
    <svg viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
      <style>
        @media (color-gamut: p3) {
          rect {
            fill: oklch(55% 0.23 146);
          }
        }
      </style>
      <rect x="10" y="10" width="100" height="100"></rect>
    </svg>
  </div>
</Main>
<style>
  .modern-gradient {
    background-image: radial-gradient(
      farthest-corner circle at 50% 50% in oklab,
      oklab(89% -0.3 -0.27) 0%,
      52%,
      oklab(35% 0.34 -0.37) 100%
    );
  }
  .classic-gradient {
    background-image: radial-gradient(
      farthest-corner circle at 50% 50%,
      #00dfff 0%,
      52%,
      #8c00ec 100%
    );
  }
  .modern-gradient2 {
    background-image: radial-gradient(
      farthest-corner circle at 50% 50% in oklch,
      oklch(80% 0.4 222) 0%,
      52%,
      oklch(35% 0.5 313) 100%
    );
  }
  .psychadelic {
    background-image: radial-gradient(
      farthest-corner circle at 50% 50% in oklch longer hue,
      oklab(80% -0.3 -0.27) 0%,
      52%,
      oklab(35% 0.34 -0.37) 100%
    );
  }

  .pinky {
    background: oklch(65% 0.284 17);
  }
  .less-pinky {
    background: rgb(255, 44.71, 87.98);
  }
  .pink-lab {
    background: oklab(65% 0.284 17);
  }
</style>
