---
import "@fontsource/lora";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Podium</title>
  </head>
  <body class="py-4 px-8 bg-[#F9F7F2] lora">
    <header class="flex">
      <img src="short-flag.svg" alt="logo" class="w-[150px] md:w-[20%] mx-4" />
      <div class="flex flex-col grow">
        <div
          class="flex justify-between items-baseline border-b-2 border-solid border-black py-4"
        >
          <nav class="w-full">
            <ul class="flex gap-12">
              <li class="font-extralight">Shop &darr;</li>
              <li>Collections &darr;</li>
              <li>Gift Shop</li>
              <li>Sale</li>
              <li>Lookbook</li>
            </ul>
          </nav>
          <p>cart</p>
        </div>
        <svg
          viewBox="0 0 1175 135"
          class="py-4"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <title>Podium Racing</title>
          <g
            stroke="none"
            stroke-width="1"
            fill-rule="nonzero"
            font-family="Helvetica-Light, Helvetica"
            font-size="137"
            font-weight="300"
            letter-spacing="-11.4627104"
          >
            <text id="ONE-OF-THESE-DAYS">
              <tspan x="" y="101.994">Podium Racing Club</tspan>
            </text>
          </g>
        </svg>
      </div>
    </header>
    <img src="chevy-bus.jpeg" alt="chevy" />
  </body>
</html>
<style>
  .lora {
    font-family: "Lora", serif;
  }
</style>
